<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="shortcut icon" type="image/x-icon" href="/static/images/emart-icon.ico"/>
      
      <title>
          E-Mart | Feedbacks
      </title>
  </head>
  <body class="font-monospace">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            
            <a class="px-3 navbar-brand">
                <span class="text-decoration-underline text-primary fs-5 fw-bolder">E-Mart</span>
                <span class="text-light fw-bolder" style="font-size:small;">Admin</span>
            </a>
            
            <button class="navbar-toggler btn  btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link px-3 fs-5 fw-bold text-light" aria-current="page" href="/admin/products">Our Products</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link px-3 fs-5 fw-bold text-light active" aria-current="page" href="/admin/feedbacks">Feedbacks</a>
                    </li>
                </ul>
                <a class="btn btn-primary" href="/admin">Log Out</a>
               
            </div>
      </nav>
      <div class="container">
        <h3 class="mt-3 fw-bolder">Customer Feedback</h3>
        <hr style="border-top: 1px solid #8c8b8b;">
        <form action="/admin/feedbacks" method="GET">
            <div class="row">
                <div class="mt-3 col-md-2">
                    <h5>Filter</h5>
                </div>
                <div class="mt-3 col-md-4">
                    
                    <select class="form-select" name="pid" id="productOptions">
                        <option value="all">All Products</option>
                        {% for item in data.productList %}
                            {% if item.pid == data.oneProduct: %}
                                <option value="{{item.pid}}" selected>{{item.pname}}</option>
                            {% else %}
                                <option value="{{item.pid}}">{{item.pname}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-3 col-md-4">
                    
                    <select class="form-select" name="sentiment" id="sentimentOptions">
                        {% for item in data.sentimentList %}
                            {% if item.value == data.oneSentiment: %}
                                <option value="{{item.value}}" selected>{{item.sentiment}}</option>
                            {% else %}
                                <option value="{{item.value}}">{{item.sentiment}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-3 col-md-2">
                    <button class="btn btn-primary col-md-2 w-100" type="submit">View</button>
                </div>
                
            </div>
        </form>

        <div class="row">
            <p class="text-muted my-3">Found {{data.count}} feedbacks.</p>
        </div>

        {% if data.count > 0 : %}
            <div class="row m-2">
                <div class="col">
                    <table class="table table-hover p-2">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Date</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Feedback</th>
                                <th scope="col">Sentiment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data.feedbackList %}
                                <tr>
                                    <td>{{item.sno}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.pname}}</td>
                                    <td>{{item.uname}}</td>
                                    <td>{{item.umail}}</td>
                                    <td style="display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    margin: 0 0 0 0;">{{item.text}}</td>
                                    <td class="text-capitalize">{{item.sentiment}}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        

            
            
       
        
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>

</html>