<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <link rel="shortcut icon" type="image/x-icon" href="/static/images/emart-icon.ico"/>
      <title>
          E-Mart | Products
      </title>
  </head>
  <body class="font-monospace">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            
            <a class="px-3 navbar-brand">
                <span class="text-decoration-underline text-primary fs-5 fw-bolder">E-Mart</span>
                <span class="text-light fw-bolder" style="font-size:small;">Admin</span>
            </a>
            
            <button class="navbar-toggler btn  btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link px-3 fs-5 fw-bold text-light" aria-current="page" href="/admin/products">Our Products</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link px-3 fs-5 fw-bold text-light active" aria-current="page" href="/admin/feedbacks">Feedbacks</a>
                    </li>
                </ul>
                <a class="btn btn-primary" href="/admin">Log Out</a>
               
            </div>
      </nav>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 pb-5">
            {% for item in data %}
                <div class="col">
                    <form method="POST">
                        <div class="card h-100" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px; border:none;">
                            <img src="/static/images/{{item['pimage']}}" class="card-img-top" >
                            <div class="card-body">
                                <h5 class="card-title" value="{{item['code']}}">{{item['pname']}}</h5>
                                <p class="card-text fs-6 text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, deserunt.</p>
                                <p class="card-text fs-4 fw-bolder">₹ {{item['pprice']}}</p>
                                <button class="btn btn-primary btn-lg fw-bolder" type="submit" name="itemCode" value="{{item['pid']}}" style="width: 100%;" >View</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>

</html>